{% extends 'base.html.twig' %}

{% block title %}
    {% if program is defined and season is defined and episode is defined %}
        {{ program.title }} - Saison {{ season.number }} Épisode {{ episode.number }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if program is defined and season is defined and episode is defined %}
        <h1>{{ program.title }} - Saison {{ season.number }} Épisode {{ episode.number }} : {{ episode.title }}</h1>
        <p>{{ episode.synopsis }}</p>

        <a href="{{ path('program_season_show', { 'program': program.id, 'season': season.id }) }}">
            Retour à la saison {{ season.number }}
        </a>
    {% endif %}
{% endblock %}
